<div>
    <div class="dropdown">
        <button class="btn btn-info btn-outline-primary" id="menu2" data-toggle="dropdown">      
    </button>
    <ul class="dropdown-menu" aria-labelledby="menu2">
        <li><a routerLink = './summary' class="dropdown-item">Order Summary</a></li>
        <li><a routerLink="./summary" class="dropdown-item">Account Details</a></li>
        <li class="dropdown-divider"></li>
        <li class="dropdown-item">Logout</li>
        <li></li>
        <li></li>
    </ul>
    <a routerLink = '/NavTabs'> <b>Batter Store </b></a>
</div>
<router-outlet></router-outlet>